################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoardGameResolver/bin/Debug
/BoardGameResolver/obj/Debug
/BoardGameResolver/.vs/BoardGameResolver/v15
/.vs
